
/* Track your order */

#trackOrder{
  background-image: url(../assets/testbackground.jpg);
  background-repeat: no-repeat; background-size: cover; 
  height: auto;
  width: 100%;
}

#trackOrderSize{
  max-width: 600px;
}

.trackOrderInputText{
 height: 40px !important;
 max-width: 45vw !important;  
 border-bottom-left-radius: 10px !important;
 border-top-left-radius: 10px !important;
}

.trackOrderInputButton{
  height: 40px !important;
  box-shadow: none !important; 
  margin-top: 0px !important; 
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background-color: #1c04f7 !important;
 }

 .trackOrderSubText{
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  margin-top: 5px; 
  font-size: 15px;
 }

 /* Portfolio */

.centerImage{
  display: block; 
  margin: auto;
}


.portfolioNewRow{
  margin: 5px;
}

.hoverBorder:hover{
  border:rgb(0, 0, 0) 1px solid;
  cursor:zoom-in !important;
}

.productPortfolioDisplay{
  width: 100%;
  height: 100%;
  max-height: 170px;
}

.hiddenImageSize {
  position: relative;
  margin: auto;}

.sizeForHiddenImage{
  display: block;
  width: 100%;
  height: 88vh !important;
}

/* "stay updated" */

#StayUpdatedBackground{
background-image: url(../assets/testbackground.jpg);
background-repeat: no-repeat; 
background-size: cover;
border-bottom: solid 3px black;
margin-bottom: 2px;
}

#stayUpdatedSize{
  width: 100vw; 
  max-width: 600px;
}

/* Special Offers */

.popupAdded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #14c608;
  border: 1px solid #000000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  color:white;
  display: none;
  z-index: 6;
  font-size: large;
}

.fade-outAdded {
  animation: fadeOut 5s ease-out;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.borderBelow{
  border-bottom: 1px black dashed;
}

#titleSpecialOffer{
  margin-top: 15px; 
  font-size: 50px;
}

#allDivsTable{
  width: 97vw; 
  margin: auto;
}

.SpecialOfferRow{
  width: 90vw !important;
  height: 300px !important;
  justify-content: space-around;
}

.SpecialOfferCol{
  width: 30vw;
  background-color: white;
  box-shadow: 0 0 1px 1px rgb(28, 39, 195);
  border-radius: 8px;
}

.SpecialOfferCol:hover{
  width: 32%;
  background-color: white;
  box-shadow: 0 0 2px 2px rgb(28, 39, 195);
  border-radius: 8px;
}

.SpecialOfferRowOfCol{
  display: flex;
  margin-top: 5px;
}

.SpecialOfferDetailsText{
  margin-left: 18px;
  font-size: 15px;
  height: 170px;
}

.Limited{
  color:red;
  font-size: 16px;
}

.priceDisplayCenter{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  justify-content: space-between;
  font-weight: bold;
}

.oldPrice{
  text-decoration: line-through;
}

.displayButton{
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

#specialOffer1{
  width: 160px;
  height: 160px;
  margin-right: 10px;
}

#specialOffer2{
  width: 146px;
  height: 180px;  
  margin-right: 10px;
}

#specialOffer3{
  width: 160px;
  height: 160px;  
  margin-right: 15px;
}

#specialOffer4{
  width: 190px;
  height: 190px;  
  margin-right: 0px;
}

#specialOffer5{
  width: 220px;
  height: 140px;  
  margin-right: 0px;
  margin-left: 5px;
}

#specialOffer6{
  width: 210px;
  height: 190px;  
  margin-right: 0px;
}

#specialOffer7{
  width: 210px;
  height: 190px;  
  margin-right: 0px;
}

#specialOffer8{
  width: 170px;
  height: 180px;  
  margin-right: 0px;
}

#specialOffer9{
  width: 190px;
  height: 150px;  
  margin-left: 3px; 
}

#specialOffer10{
  width: 160px;
  height: 190px;  
  margin-left: 3px;
}

#specialOffer11{
  width: 180px;
  height: 160px;  
  margin-left: 3px;
}

#specialOffer12{
  width: 130px;
  height: 150px;  
  margin-left: 3px; 
}

#specialOffer13{
  width: 180px;
  height: 160px;  
  margin-left: 3px;
}

#specialOffer14{
  width: 180px;
  height: 160px;  
  margin-left: 3px;
}

#specialOffer15{
  width: 180px;
  height: 160px;  
  margin-left: 3px; 
}

#specialOffer16{
  width: 180px;
  height: 160px;  
  margin-left: 3px;
}

#specialOffer17{
  width: 180px;
  height: 160px;  
  margin-left: 3px;
}

#specialOffer18{
  width: 180px;
  height: 160px;  
  margin-left: 3px; 
}

#specialOffer19{
  width: 180px;
  height: 160px;  
  margin-left: 3px;
}

#specialOffer20{
  width: 180px;
  height: 160px;  
  margin-left: 3px;
}

#specialOffer21{
  width: 180px;
  height: 160px;  
  margin-left: 3px; 
}


@media (max-width: 767px) and (min-width: 200px) {
  .test {
    width: 100vw !important;
  }

  .fontSizesm{
    font-size: 9vw !important;
  }

  .trackOrderInputText{
    max-width: 70vw !important;
  }
  .trackOrderInputButton{
    max-width: 25vw !important;
  }

  .trackOrderSubText{
    width: 80vw;
  }

  .stayUpdatedTitle1{
    font-size: 15px;
  }
  .stayUpdatedTitle2{
    font-size: 11px;
  }

  .sizeForHiddenImage{
    display: block;
    width: 100%;
    height: auto !important;
  }

  .modal-dialog{
    margin: auto !important;  
    margin-top: 150px !important;
    width: 70vw !important;
    height: auto !important;

    -webkit-transform: none !important; /*override*/
    -ms-transform: none !important; /*override*/
    -o-transform: none !important; /*override*/
    transform: none !important; /*override*/
  }
}


@media (max-width: 425px) and (min-width: 200px) {
 
  #specialOffer1{
    width: 30vw;
    height: 30vw;
  }
  
  #specialOffer2{
    width: 30vw;
    height: 37vw;  
    margin-right: 50px;
  }
  
  #specialOffer3{
    width: 30vw;
    height: 30vw;  
    margin-right: 15px;
  }
  
  #specialOffer4{
    width: 30vw;
    height: 30vw;  
    margin-right: 0px;
  }
  
  #specialOffer5{
    width: 30vw;
    height: 19vw;  
    margin-right: 0px;
    margin-left: 5px;
  }
  
  #specialOffer6{
    width: 30vw;
    height: 27vw;  
    margin-right: 0px;
  }
  
  #specialOffer7{
    width: 30vw;
    height: 27vw;  
    margin-right: 0px;
  }
  
  #specialOffer8{
    width: 30vw;
    height: 32vw;  
    margin-right: 0px;
  }
  
  #specialOffer9{
    width: 30vw;
    height: 24vw;  
    margin-left: 3px; 
  }
  
  #specialOffer10{
    width: 30vw;
    height: 36vw;  
    margin-left: 3px;
  }
  
  #specialOffer11{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer12{
    width: 130px;
    height: 150px;  
    margin-left: 3px; 
  }
  
  #specialOffer13{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer14{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer15{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px; 
  }
  
  #specialOffer16{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer17{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer18{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px; 
  }
  
  #specialOffer19{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer20{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer21{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px; 
  }
  
  .SpecialOfferDetailsText{
    margin-left: 18px;
    font-size: 13px;
    margin-right: auto;
  }
  
  .trackOrderSubText{
    font-size: 10px;
  }
  }


@media(max-width: 255px) {
 
  #specialOffer1{
    width: 30vw;
    height: 30vw;
  }
  
  #specialOffer2{
    width: 30vw;
    height: 37vw;  
    margin-right: 50px;
  }
  
  #specialOffer3{
    width: 30vw;
    height: 30vw;  
    margin-right: 15px;
  }
  
  #specialOffer4{
    width: 30vw;
    height: 30vw;  
    margin-right: 0px;
  }
  
  #specialOffer5{
    width: 30vw;
    height: 19vw;  
    margin-right: 0px;
    margin-left: 5px;
  }
  
  #specialOffer6{
    width: 30vw;
    height: 27vw;  
    margin-right: 0px;
  }
  
  #specialOffer7{
    width: 30vw;
    height: 27vw;  
    margin-right: 0px;
  }
  
  #specialOffer8{
    width: 30vw;
    height: 32vw;  
    margin-right: 0px;
  }
  
  #specialOffer9{
    width: 30vw;
    height: 24vw;  
    margin-left: 3px; 
  }
  
  #specialOffer10{
    width: 30vw;
    height: 36vw;  
    margin-left: 3px;
  }
  
  #specialOffer11{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer12{
    width: 130px;
    height: 150px;  
    margin-left: 3px; 
  }
  
  #specialOffer13{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer14{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer15{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px; 
  }
  
  #specialOffer16{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer17{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer18{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px; 
  }
  
  #specialOffer19{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer20{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px;
  }
  
  #specialOffer21{
    width: 30vw;
    height: 27vw;  
    margin-left: 3px; 
  }
  
  .SpecialOfferDetailsText{
    margin-left: 18px;
    font-size: 13px;
    margin-right: auto;
  }
  
  .trackOrderSubText{
    font-size: 8px;
    width: 100%;
  }
  }

@media(max-width: 255px) {

.fitForSmallest{
  font-size: 11px;
}
}

@media(max-width: 275px) and (min-width: 255px) {

  .AriaOfSorrowFitText{
    font-size: 12px;
  }
}

@media(max-width: 220px){

  .AriaOfSorrowFitText{
    font-size: 10px;
  }
}
